<style>
/*style*/
  .undergraduate-course-button {
    background-color: rgb(136, 2, 2);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    transition: opacity 0.15s;
  }

  .undergraduate-course-button:hover {
    opacity: 0.3;
  }

  .undergraduate-course-button:active {
   opacity: 0.5;
  }

  .mphil-course-button {
background-color: rgb(155, 6, 11);
border-color: white;
border-style: solid;
border-width: 1px;
color: rgb(237, 239, 241);
height: 35px;
width: 62px;
border-radius: 22px;
cursor: pointer;

transition: background-color 0.15s;
color: 0.15s;
 }

  .mphil-course-button:hover {
    background-color: rgb(21, 138, 153);
    color: white;
  }

  .msc-course-button {
    background-color: rgb(2,137,255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  }

  .phd-course-button {
    background-color: rgb(36, 71, 146);
    color: rgb(231, 231, 159);
    height: 36px;
    width: 76px;
   border-radius: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }

  .phd-course-button:hover {
    background-color: rgb(175, 22, 35);
    color: white;
  }

</style/>


<button class="undergrad-course-button">
undergrad-course
</button>

<button class="mphil-course-button">
mphil-course
</button>

<button class="msc-course-button"> 
msc-course
</button>

<button class="phd-course-button"> 
phd-course
</button>